<main class="lista-vacantes">
	<h2>Lista de vacantes</h2>

	{{#if vacantes.length }}

		{{#each vacantes}}
			<div class="vacante">
				<div class="caja">
					<h3>{{empresa}}</h3>
					<a href="#" class="puesto">{{titulo}}</a>
					<p class="candidatos">{{candidatos.length}} Candidato(s)</p>
				</div>
				<div class="caja">
					<p class="etiqueta">Ubicación:</p>
					<p class="nombre">{{ubicacion}}</p>
				</div>
				<div class="caja">
					<p class="etiqueta">Contrato:</p>
					<p class="nombre contrato">{{contrato}}</p>
				</div>
				{{#if user}}
                    <div class="caja centrar-vetical">
                        <a href="/vacantes/{{url}}" class="btn btn-verde">Más Info</a>
                    </div>
				{{/if}}
			</div> <!-- .vacante -->
		{{/each}}
	{{else}}
		<p>No hay Vacantes</p>
	{{/if}}
</main>